.card{
    margin: 10px;
    padding: 5px;
    background-color: #ccc;
    color: #333;
    border: 1px solid #555;
    border-radius: 5px;
}
.cardImage{
    width: 200px;
    border-radius: 5px;
    border-radius: 1px solid #555;
}