.card{
    max-width: 200px;
    max-height: 300px;
    margin: 10px;
    padding: 5px;
    background-color: #ccc;
    color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.cardTitle{
    font-size: 10px;
    font-weight: 800;
}
.cardDescription{
    font-size: 8px;
    font-weight: 600;
}
.cardImage{
    width: 150px;
    border-radius: 5px;
    border: 1px solid #555;
}