.card{
    max-width: 200px;
    max-height: 250px;
    min-width: 200px;
    min-height: 250px;
    margin: 10px;
    padding: 5px;
    background-color: #ccccccce;
    color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.card:hover{
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #ccc;
}
.cardTitle{
    font-size: 10px;
    font-weight: 800;
}
.cardDescription{
    font-size: 8px;
    font-weight: 600;
}
.cardImage{
    width: 150px;
    border-radius: 5px;
    border: 1px solid #555;
    opacity: 0.85;
}
.card:hover .cardImage {
    opacity: 1;
  }