.card{
    width: 200px;
    height: 220px;
    margin: 10px;
    padding: 5px;
    background-color: #cccccca8;
    color: #333;
    border: 1px solid #ccccccbd;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.card:hover{
    cursor: pointer;
    background-color: #ccccccec;
    border: 1px solid #ccccccbd;
}
.link{
    text-decoration: none;
}
.cardTitle{
    font-size: 10px;
    font-weight: 800;
}
.cardDescription{
    font-size: 8px;
    font-weight: 600;
}
.cardImage{
    width: 150px;
    border-radius: 5px;
    border: 1px solid #555;
    opacity: 0.85;
}
.card:hover .cardImage {
    opacity: 1;
  }