.paginated-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-bottom: 20px; /* Espacio adicional en la parte inferior */
}

.pages {
  padding: 5px;
  margin-top: auto; /* Empuja el contenedor de las páginas hacia abajo */
}