.paginated-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.pages {
  padding: 10px;
  position: fixed;
  bottom: 0;
}
.loading {
  padding: 8px;
  border-radius: 5px;
  background-color: #ddd;
  animation: loadingAnimation 1s infinite ease-in-out;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}